@media (max-width: 1260px){
  body{
    font-size: 14px;
    line-height: 20px;
  }
  .header-top{
    .logo__img{
      height: 20px;
    }
    &__social-link{
      width: 20px;
      height: 20px;
    }
  }
  .header-content{
    background-size: 66%;
    &__title{
      font-size: 40px;
      line-height: 40px;
    }
    &__inner{
      height: 380px;
      background-size: 66%;
    }
  }
  .services{
    &__item{
      width: 225px;
    }
  }
  .price{
    &__item{
      width: 160px;
    }
    &__item-title{
      font-size: 16px;
    }
    &__sum-num{
      font-size: 20px;
    }
    &__sum-text,
    &__sum-val {
    font-size: 12px;
    }
    &__item,
    &__item-link{
      width: 150px;
    }
  }
  .slider-item{
    &__text-box {
      max-width: 600px;
    }
    &__text{
      font-size: 16px;
      max-width: 500px;
    }
  }
}

@media (max-width: 1080px){
  .header-content{
    padding: 0 0 35px 25px;
    background-size: 60%;
    &__inner{
      height: 350px;
      background-size: 61% 100%;
    }
  }
  .price{
    &__item{
      width: 144px;
    }
    &__sum-text,
    &__sum-val {
    font-size: 10px;
    }
  }
  .slider-item{
    &__text-box {
      max-width: 500px;
    }
    &__text{
      font-size: 16px;
      max-width: 400px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px){
  .header-content{
    background-size: 58%;
    &__inner{
      height: 330px;
      background-size: 57% 100%;
    }
  }
  .services{
    &__item{
      width: 190px;
    }
  }
}

@media (max-width: 900px){
  .header-content{
    background-size: 47%;
    &__inner{
      height: 100%;
      background-size: 46% 100%;
    }
  }
  .container--arrow-left,
  .container--arrow-right{
    padding: 0 25px 40px;
  }
  .services{
    &__item{
      width: 165px;
    }
  }
  .advantage{
    &__item {
        width: 144px;
      margin-bottom: 50px;
    }
    &__num{
      font-size: 34px;
    }
  }
  .price{
    &__item{
      margin-right: 30px;
    } 
  }
  .review{
    padding: 25px 25px 50px 25px;
    width: 100%;
  }
  .slider-item{
    &__text-box {
      max-width: 500px;
    }
    &__text{
      font-size: 16px;
      max-width: 500px;
      margin-bottom: 20px;
    }
  }
  .footer{
    &__items{
      font-size: 12px;
      line-height: 16px;
    }
    .logo__img{
      height: 20px;
    }
    &__social-link{
      width: 20px;
      height: 20px;
    }
    &__social-link + .footer__social-link{
      margin-left: 24px;
    }
  }
}

@media (max-width: 760px){
  .menu__item+.menu__item {
    margin-left: 16px;
  }
  .header-content{
    background-size: 56%;
    &__title{
      font-size: 30px;
      margin-bottom: 64px;
    }
    &__inner{
      background-image: url('../images/bg-top-2.png');
      background-size: 58% 100%;
    }
  }
  .title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .container--arrow-left,
  .container--arrow-right{
    padding: 0 25px 28px;
}
  .services{
    &__items{
      margin-bottom: 40px;
    }
    &__item{
      width: 144px;
    }
    &__item-title,
    &__item-text{
      padding: 0 8px 0 8px;
    }
  }
  .price{
    &__item,
    &__item-link {
    width: 144px;
    }
  }
  .price__link,
  .partners__inner{
    margin-bottom: 40px;
  }
  .footer{
    &__items{
      margin-top: 50px;
    }
    &__title{
      text-align: center;
    }
    &__title--time{
      text-align: right;
    }
    &__text span {
      margin-right: 0;
      width: 70px;
    }
  }
}

@media (max-width: 660px){
  .header-top{
    margin-bottom: 13px;
  }
  .menu{
    order: 1;
    transition: all .3s;
    &__btn{
      display: flex;
      z-index: 2;
      outline: none;
      transition: all .3s;
    }
    &__btn--active{
      height: 15px;
      span{
        background-color: transparent;
      }
      &::before{
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(40deg);
      }
      &::after{
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-40deg);
      }
    }
    &.menu--active{
      box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
      z-index: 1;
    }
    &__list{
      display: block;
      background-color: #CAD1D9;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transform-origin : 100% 0;
      transition: .5s ease-in-out;
      transform: scaleX(0);
      height: 100vh;
      z-index: 1;
      transition: all .3s;
      &.menu__list--active{
        transition: all .3s;
        opacity: 1;
        transform: scaleX(1);
      }
    }
    &__item + .menu__item {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  ul.menu__list{
    padding: 55px 35px 20px 20px;
  }
  .header-content{
    background-size: 100%;
    &__title{
      font-size: 30px;
    }
    &__title-bottom{
      max-width: 400px;
    }
  }
  .container--arrow-left,
  .container--arrow-right {
    padding: 0 25px 42px;
    background-size: 100%;
  }

  .services{
    &__items{
      margin-bottom: 20px;
      justify-content: space-around;
    }
    &__item{
      width: 260px;
      margin-bottom: 20px;
    }
    &__item-title,
    &__item-text{
      padding: 0 8px 0 8px;
    }
  }
  .advantage{
    &__items{
      display: flex;
      justify-content: space-between;
    }
    &__item-top,
    &__item-box{
      flex-direction: column;
    }
    &__item-box{
      padding: 50px 0;
    }
    &__item{
      margin-bottom: 70px;
      width: 230px;
    }
  }
  .price__link,
  .partners__inner{
    margin-bottom: 30px;
  }
  .partners{
    &__inner {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
    &__item{
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        grid-column: span 3;
        border-radius: 10px 0 0 0;
        border-left: 1px solid #CAD1D9;
      }
      &:nth-child(3){
        grid-column: span 3;
      }
      &:nth-child(4){
        grid-column: span 2;
      }
      &:nth-child(5){
        display: none;
      }
      &:nth-child(6){
        grid-column: span 5;
        border-left: 1px solid #CAD1D9;
        border-bottom: 1px solid #CAD1D9;
      }
      &:nth-child(7){
        display: none;
      }
      &:nth-child(8){
        grid-column: span 3;
        border-radius: 0 0 10px 0;
        border-left: none;
      }
      &:nth-child(9){
        grid-column: span 2;
        order: 1;
        border-radius: 0 0 10px 0;
        border-left: none;
        border-top: none;
      }
      &:nth-child(10){
        grid-column: span 2;
        border-radius: 0;
        border-left: 1px solid #CAD1D9;
        border-top: none;
      }
    }
  }
}

@media (max-width: 600px){
  .header-content{
    &__title-bottom{
      padding-left: 40px;
    }
  }
  .services{
    &__item{
      width: 230px;
    }
    &__item-title{
      font-size: 14px;
    }
  }
  .price{
    &__sum-num {
      font-size: 15px;
    }
  }
  .footer{
    position: relative;
    &__social{
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__items{
      margin-top: 82px;
    }
  }
}

@media (max-width: 550px){
  .container{
    padding: 0 15px;
  }
  .container--arrow-left,
  .container--arrow-right {
    padding: 0 15px 42px;
    background-size: 100%;
  }
  .header-content{
    &__inner{
      background-image: url('../images/bg-top-3.png');
      background-position: bottom right;
      background-size: 40% 53%;
    }
    &__title{
      font-size: 30px;
    }
  }
  .services{
    &__items{
      margin-bottom: 10px;
    }
    &__item{
      width: 190px;
    }
  }
  .advantage{
    &__item-box{
      justify-content: center;
    }
    &__item{
      width: 200px;
      font-size: 12px;
    }
  }
  .price__link,
  .partners__inner{
    margin-bottom: 10px;
  }
  .review{
    padding: 25px 15px;
  }
  .slider-item{
    &__img-box{
      width: 60px;
      height: 92px;
    }
    &__img{
      width: 60px;
      height: 60px;
    }
    &__icons{
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }
    &__link+.slider-item__link {
      margin-top: 0;
    }
    &__link{
      margin: 0;
    }
    &__text-box{
      margin: 0 0 16px 76px;
      max-width: 100%;
    }
    &__text{
      font-size: inherit;
      max-width: 100%;
    }
    &__title{
      margin: 0 0 20px 76px;
    }
  }
}

@media (max-width: 440px){
  body{
    font-size: 12px;
  }
  .header-content{
    padding: 0 0 25px 15px;
    &__inner{
      background-size: 45% 60%;
    }
    &__title{
      font-size: 20px;
    }
    &__title-and{
      font-size: 60px;
      background-size: 47px;
      width: 68px;
    }
    &__title-bottom{
      max-width: 370px;
      padding-left: 30px;
    }
  }
  .container--arrow-left,
  .container--arrow-right {
    padding: 0 15px 25px;
  }
  .title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .services{
    &__item{
      width: 132px;
      &:nth-child(odd){
        margin-right: 8px;
      }
    }
  }
  .advantage{
    &__item{
      width: 144px;
      margin-bottom: 40px;
    }
  }
  .price{
    &__item,
    &__item-link {
    width: 132px;
    }
    &__item-title {
    font-size: 14px;
    }
  }
  .slick-slide {
    padding: 25px 5px 10px 0;
  }
  .partners{
    &__inner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
    &__item{
      &:nth-child(2){
        grid-column: span 2;
      }
      &:nth-child(3){
        grid-column: span 2;
        order: 1;
        display: flex;
        visibility: hidden;
      }
      &:nth-child(4){
        grid-column: span 2;
      }
      &:nth-child(6){
        grid-column: span 4;
      }
       &:nth-child(7){
        display: flex;
        grid-column: span 1;
        border-left: 1px solid #CAD1D9;
        border-top: none;
        border-radius: 0 0 0 10px;
      }
      &:nth-child(8){
        grid-column: span 2;
        border-top: none;
        border-radius: 0;
      }
      &:nth-child(9){
        grid-column: span 2;
        border-radius: 0 0 10px 10px;
        border-left: 1px solid #CAD1D9;
      }
      &:nth-child(10){
        grid-column: span 1;
        border-left: none;
      }
    }
  }
  .footer{
    &__items{
      font-size: 11px;
      line-height: 12px;
    }
    &__item{
      padding-left: 0;
      padding-top: 20px;
      margin-bottom: 15px;
      max-width: 138px;
      text-align: center;
      &::before{
        width: 16px;
        height: 16px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;
      }
    }
    &__title{
      margin-bottom: 10px;
      font-size: 12px;
    }
    &__title--time{
      margin-bottom: 16px;
    }
    &__text{
      flex-direction: column;
      text-align: center;
      align-items: center;
      span{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
      }
    }
  }
}