$text: #0B1926;
$accent: #0774DB;


%raleway-900{
  font-family: 'Raleway-Black', sans-serif;
  font-weight: 900;
}

%lato-300{
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%lato-400{
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-700{
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%lato-900{
  font-family: 'Lato-Black', sans-serif;
  font-weight: 900;
}