@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

body.look{
  overflow: hidden;
}

.header{
  padding: 35px 0 40px;
}

.header-top{
  transition: all .3s ;
  &.header-top__fixed{
    background-color: #EBEBEB;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 0;
    z-index: 66;
  }
  margin-bottom: 60px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social{
    display: flex;
  }
  &__social-item{
    margin-left: 8px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__social-link{
    width: 30px;
    height: 30px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-img{
    width: 18px;
  }
  .logo__img{
    height: 30px;
  }
}

.menu{
  &__btn{
    background-color: transparent;
    border: none;
    padding: 0;
    height: 12px;
    width: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    span{
      background-color: #667280;
      width: 18px;
      height: 2px;
    }
    &::after,
    &::before{
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #667280;
      transition: all .3s;
    }
    &::after{
      top: 0;
    }
    &::before{
      bottom: 0;
    }
  }
  &__list{
    display: flex;
  }
  &__item{
    line-height: 16px;
  }
  &__item + .menu__item{
    margin-left: 32px;
  }
  &__item-link.menu__item-link--active{
    &::before{
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $accent;
      opacity: 0.4;
      border-radius: 1px;
    }
  }
  &__item-link{
    color: $text;
    position: relative;
    &:hover{
      &::before{
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $accent;
      opacity: 0.4;
      border-radius: 1px;
      }
    }
  }
}

.header-content{
  max-width: 1250px;
  padding: 0 0 44px 25px;
  margin: 0 auto;
  background-image: url('../images/icons/arrow-bg-right.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 61%;
  &__inner{
    height: 400px;
    background-image: url('../images/bg-top.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 62%;
  }
  &__title{
    text-transform: uppercase;
    @extend %raleway-900;
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 50px;
  }
  &__title-and{
    display: inline-block;
    text-align: left;
    width: 88px;
    line-height: 1;
    font-size: 85px;
    color: $accent;
    background-image: url('../images/icons/and.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }
  &__title-bottom{
    max-width: 477px;
    padding-left: 80px;
  }
  &__btn{
    border: none;
    background-color: transparent;
    @extend %lato-700;
    padding: 0 39px 0 0;
    cursor: pointer;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 33px;
      height: 24px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/arrow-right.svg');
    }
  }
}

.services{
  padding: 40px 0;
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__item{
    width: 270px;
    min-height: 232px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(23, 48, 71, 0.1);
    border-radius: 0 10px 10px 10px;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 2px 6px $accent;
    }
  }
  &__item-top{
    background-color: #4A98E1;
    border-radius: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    margin-bottom: 16px;
  }
  &__item-title{
    margin-bottom: 8px;
    padding: 0 7px 0 9px;
    @extend %raleway-900;
    font-size: 16px;
    line-height: 24px;
    color: #204261;
  }
  &__item-text{
    padding: 0 7px 0 9px;
    color: $text;
    margin-bottom: 20px;
  }
}

.advantage{
  padding: 40px 0;
  &__item-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    width: 224px;
    margin-bottom: 50px;
  }
  &__item-box{
    padding: 0 55px;
    display: flex;
    justify-content: space-around;
  }
  &__num{
    @extend %lato-900;
    font-size: 36px;
    line-height: 32px;
    color: $accent;
    display: block;
    margin-bottom: 12px;
  }
}

.price{
  padding: 40px 0;
  &__items{
    min-height: 288px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px 0;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  &__item-link{
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #CAD1D9;
    width: 180px;
    height: 100%;
    text-align: center;
    color: $text;
    position: relative;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 2px 6px rgba(23, 48, 71, 0.1);
      border: 1px solid #0774DB;
      .price__sum{
        border-top: 1px solid #0774DB;
      }
      .price__sum-num{
        border-bottom: 1px solid #0774DB;
      }
      .price__item-tax{
        background-color: #0774DB;
        color: #fff;
        span{
          opacity: 1;
        }
      }
    }
  }
  &__item-taxes{
    position: absolute;
    top: -10px;
    left: 8px;
    display: flex;
  }
  &__item-tax{
    border-radius: 0 5px 5px 5px;
    background-color: #BFBFBF;
    transition: all .3s;
    span{
      text-transform: uppercase;
      opacity: 0.5;
      @extend %lato-700;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 23px;
    }
  }
  &__item-tax + .price__item-tax{
    margin-left: 8px;
  }
  &__item-img{
    margin: 30px auto 20px;
  }
  &__item-title{
    @extend %raleway-900;
    font-size: 18px;
    line-height: 24px;
    color: #204261;
    margin-bottom: 25px;
    padding: 0 15px;
  }
  &__item-text{
    display: block;
    margin-bottom: 25px;
    padding: 0 15px;
    line-height: 24px;
    span{
      @extend %lato-700;
    }
  }
  &__sum{
    border-top: 1px solid #CAD1D9;
    padding: 16px 10px 23px;
    color: $text;
    font-size: 13px;
    line-height: 24px;
    transition: all .3s;
  }
  &__sum-val{
    text-transform: uppercase;
    vertical-align: top;
  }
  &__sum-text,
  &__sum-val{
    opacity: 0.4;
  }
  &__sum-num{
    @extend %lato-700;
    color: $accent;
    font-size: 24px;
    line-height: 40px;
    padding: 0 5px;
    transition: all .3s;
  }
  &__link-box{
    display: flex;
    justify-content: flex-end;
  }
  &__link{
    padding-right: 55px;
    margin-bottom: 50px;
    position: relative;
    @extend %lato-700;
    color: $text;
    &::after{
      content: '';
      position: absolute;
      width: 33px;
      height: 24px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/arrow-right.svg');
    }
  }
}

.slick-list {
  width: 100%;
}

.slick-slide {
   padding: 25px 10px;
}

.slick-dots{
  font-size: 1px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  li + li{
    margin-left: 4px;
  }
  li{
    display: flex;
    align-items: center;
  }
  button{
    background-color: transparent;
    width: 16px;
    height: 6px;
    cursor: pointer;
    border: 1px solid #667280;
    border-radius: 2px;
    outline: none;
  }
}

.slick-arrow{
  width: 63px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url('../images/icons/slide-arrow-right.svg');
  background-repeat: no-repeat;
  background-position: right center;
  outline: none;
  color: transparent;
  cursor: pointer;
}

.slick-next{
  position: absolute;
  bottom: 50px;
  left: 8px;
}

.slick-prev.slick-arrow{
  padding-left: 40px;
  padding-right: 40px;
  margin: auto auto 52px 0;
  background-position: right center;
  transform: rotate(180deg);
}

.slick-prev.slick-arrow.slick-disabled,
.slick-next.slick-arrow.slick-disabled{
  background-image: url('../images/icons/slide-arrow-dis.svg');
  background-position: left center;
}

.slick-prev.slick-arrow.slick-disabled{
  transform: rotate(360deg);
}

.slick-next.slick-arrow.slick-disabled{
  transform: rotate(180deg);
}

.slick-active{
  button{
    width: 24px;
    height: 8px;
    border-radius: 2px;
    background-color: $accent;
    border: none;
  }
}

.partners{
  padding: 40px 0;
  &__inner {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  &__item{
    border: 1px solid #CAD1D9;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1){
      grid-column: span 3;
      border-radius: 10px 0 0 0;
      border-bottom: none;
    }
    &:nth-child(2){
      grid-column: span 4;
      border-left:  none;
      border-bottom: none;
    }
    &:nth-child(3){
      grid-column: span 2;
      border-left:  none;
      border-bottom: none;
    }
    &:nth-child(4){
      grid-column: span 3;
      border-left:  none;
      border-bottom: none;
      border-radius: 0 10px 0 0;
    }
    &:nth-child(5){
      grid-column: span 2;
      border-bottom: none;
    }
    &:nth-child(6){
      grid-column: span 7;
      border-left:  none;
      border-bottom: none;
    }
    &:nth-child(7){
      grid-column: span 3;
      border-left:  none;
      border-radius: 0 0 10px 0;
    }
    &:nth-child(8){
      grid-column: span 4;
      border-radius: 0 0 0 10px;
    }
    &:nth-child(9){
      grid-column: span 3;
      border-left:  none;
      opacity: 0.7;
    }
    &:nth-child(10){
      grid-column: span 2;
      border-left:  none;
      border-radius: 0 0 10px 0;
    }
    &__item-img{
      max-width: 80%;
      max-height: 80%;
      object-fit: cover
    }
  }
  
  &__item-link{
    @extend %lato-900;
    font-size: 40px;
    color: $accent;
  }
}

.review{
  padding: 25px 0 50px 25px;
  max-width: 1250px;
  margin: 0 auto;
}

.slider{
  display: flex;
  .slick-next{
    position: absolute;
    bottom: 100px;
    left: 8px;
  }
  .slick-prev.slick-arrow{
    padding-left: 40px;
    padding-right: 40px;
    margin: auto auto 120px 0;
    background-position: right center;
    transform: rotate(180deg);
  }
  .slick-prev.slick-arrow.slick-disabled{
    transform: rotate(360deg);
    background-position: left center;
  }
}

.slider-item{
  margin-right: 21px;
  &__img-box{
    width: 144px;
    height: 144px;
    margin-right: 17px;
    overflow: hidden;
    float: left;
  }
  &__img{
    height: 144px;
    object-fit: cover;
    border-radius: 10px 0 10px 10px;
  }
  &__icons{
    position: relative;
    text-align: right;
    z-index: 2;
    margin-top: -62px;
  }
  &__link{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 0 5px 5px 5px;
    margin: 0 8px 0 auto;
  }
  &__link + .slider-item__link{
    margin-top: 8px;
  }
  &__icon{
    height: 16px;
  }
  &__content{
    outline: none;
  }
  &__text-box{
    max-width: 740px;
    height: 144px;
    margin: 0 0 16px 160px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 38px;
      height: 28px;
      background-image: url('../images/icons/arrow-bg-slider.svg');
      background-repeat: no-repeat;
      top: -15px;
      left: -20px;
    }
  }
  &__text{
    color: $text;
    height: 136px;
    font-size: 18px;
    line-height: 26px;
    -margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 5; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    text-indent: 20px;
  }
  &__title{
    @extend %lato-300;
    color: $text;
    opacity: 0.7;
    line-height: 30px;
    margin-left: 160px;
  }
}



.footer{
  padding: 30px 0 46px;
  background-color: #EBEBEB;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__items{
    margin-top: 30px;
    opacity: 0.75;
    font-size: 14px;
    line-height: 18px;
  }
  &__title{
    @extend %lato-700;
    margin-bottom: 16px;
  }
  &__item{
    padding-left: 24px;
    margin-bottom: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/location.svg');
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item--tel::before{
    background-image: url('../images/icons/phone.svg');
  }
  &__item--mail::before{
    background-image: url('../images/icons/mail.svg');
  }
  &__link{
    color: $text;
  }
  .logo__img{
    height: 25px;
    margin: 0 auto;
  }
  &__social-box{
    display: flex;
    margin-top: 20px;
  }
  &__social-link{
    width: 25px;
    height: 25px;
    background-color: #667280;
    border-radius: 0 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-link + .footer__social-link{
    margin-left: 27px;
  }
  &__social-img{
    max-width: 14px;
  }
  &__text{
    margin-bottom: 20px;
    display: flex;
    span{
      margin-right: 10px;
      width: 95px;
    }
  }
}














@import 'media';

